.pagination_body{
   width: 53%;
   margin:0 auto;
   display:flex;
   justify-content: space-between;
   margin-top:24px;
   position: relative;
}

@media (max-width:991px) {
   .pagination_body{
      width: 73%;
   }
}

@media (max-width:767px) {
   .pagination_body{
      width: 93%;
   }
}

@media (max-width:540px) {
   .pagination_body{
      width: 100%;
   }
}

.next{
   transform: rotate(180deg);
   cursor: pointer;
}

.pagination{
   width: 85%;
   display: flex;
   justify-content: space-between;
}

.pagination_pages{
   width: 35.45px;
   height: 35.45px;
   background-image:url(./img/border.png) !important;
   border-radius: 50%;
   display:flex;
   align-items: center;
   justify-content: center;

   cursor: pointer;
   font-family: 'Alagard';
   font-style: normal;
   font-weight: 500;
   font-size: 18.8319px;
   line-height: 19px;
   text-align: center;
   color: #ffff;
   text-decoration: none;
}

@media (max-width:486px) {
   .pagination_pages{
      width: 35px;
      height: 35px;
      font-size: 15px;
   }
}

.pagination_pages:hover{
   color:#543927;
}

.pages_active{
   background:#778ca4;
}

.swiper_slide{
   width: 19px;
}

@media (max-width:486px) {
   .swiper_slide{
      width: 50px !important;
   }
}