.not__nft_body{
   background: url(./img/bg_notNft.png);
   background-color: white;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: 100% 100%;
   height: 446.12px;
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   margin-top:40px;
}

@media (max-width:1050px) {
   .not__nft_body{
      width: 90%;
      padding: 0 10px;
   }
}

@media (max-width:369px) {
   .not__nft_body{
      height: 466px;
   }
}

@media (max-width:295px) {
   .not__nft_body{
      height: 480px;
   }
}

.title_skelet{
   margin-top:72px;
   margin-bottom:16px;
}

.not__nft_title{
   font-family: 'Alagard';
   font-style: normal;
   font-weight: 500;
   font-size: 32px;
   line-height: 33px;
   text-align: center;
   color: #543927;
   margin-bottom:32px;
}

.not__nft_btn{
   width: 208.19px;
   height: 41.81px;
   border-image:url(./img/border.png) 19 / 19px round;

   font-family: 'Alagard';
   font-style: normal;
   font-weight: 500;
   font-size: 26.2733px;
   line-height: 27px;
   color: #543927;
}

.not__nft_market{
   margin-right: 21px;
}